<p>users works!</p>
<!-- <div *ngFor="let user of users; let i = index">
    <p>{{i+1}}. {{user}}</p>
</div> -->
<!-- <div class="row d-md-flex w-25">
    <div *ngFor="let user of users; let i = index">  
        <div class="card col-md px-3 py-2">
            <p class="fw-bold">{{user.name}}</p>
            <p>{{user.email}}</p>
            <a href="" class="text-decoration-none">{{user.website}}</a>
        </div>
    
    </div>
</div> -->

<div class="row d-md-flex w-25">
    <div *ngFor="let photo of photos; let i = index">
        <div class="card col-md px-3 py-2">
            <p>{{photo.id}}</p>
            <p>{{photo.title}}</p>
            <p>{{photo.thumbnailUr}}</p>
            <p>{{photo.url}}</p>
        </div>
    </div>

</div>
