<p>parent works!</p>
<!-- <input type="text" class="form-control" [(ngModel)]="message">
<app-child [msg]="message"></app-child> -->

<!-- <div class=" w-75"> 
    <input type="text" class="form-control" [(ngModel)]="item">
    <button (click)="addToCart()">Add to cart</button>
</div> -->

<!-- <app-child [myCart]="cart"></app-child> -->


<a [routerLink]="['/child']" routerLinkActive="active">Go to your child.</a>

<div>
    <p>{{username}}</p>

    <button class="btn btn-success" (click)="changeUser()">change user</button>
</div>