<div>
    <h1> HELLO {{title}}</h1>
<P>This is {{name}} {{num1 + num2}}</P>
<!-- <app-navbar></app-navbar> -->

<!-- Angular basics -->
<!-- Conditional statement -->
<!-- <p *ngIf="iSeeFood">Today is a great day</p> -->
 <!-- <p *ngIf="day == 'Monday'">Today is Monday</p> -->
 <p [ngSwitch]="day == 'Monday'">Today is Monday</p>
 <p *ngSwitchCase="day == 'Sunday'">Today is Tuesday</p>
 <p *ngSwitchCase="day == 'Thursday'">Today is Thusday</p>
 <p *ngSwitchDefault>Today is a day of the week</p>

<!-- <div>
    <label for="">Username:</label>
    <input type="text" [(ngModel)]="username"> <br>
    <button onclick="myFunction()">Submit</button>
</div> -->
</div>